<!-- Services Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I Work With</h2>
                    <br><br>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div> -->
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Languages</h4>
                    <ul class="text-muted" style="list-style-type:none;">
                        <!-- <li>Java</li>
                        <li>Python</li>
                        <li>VB.NET, C&#35;</li> -->
                    </ul>
                    <p class="text-muted">Proficient: Java, Python, VB.NET, C&#35;</p>
                    <p class="text-muted">Intermediate: Golang, C&#47;C&#43;</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Technologies</h4>
                    <!-- <ul class="text-muted" style="list-style-type:none;">
                        <li>Solr</li>
                        <li>Git</li>
                        <li>MS SQLServer</li>
                        <li>Latex</li>
                        <li>ServiceNow</li>
                    </ul> -->
                    <p class="text-muted">Solr, .Net, Git, LateX,<br>EAGLE, SQLServer, MySQL, Jira,<br> SCCM, ServiceNow, Active Directory</p>
                </div>
            </div>
        </div>
    </section>
