<!-- About Section -->
    <section id="timeline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">My time as a developer.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/Aggie-logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-Current</h4>
                                    <h4 class="subheading">Started Computer Engineering at Texas A&amp;M University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I started studying Computer Engineering because of the real life applications
                                        that the field addressed. I appreciated the complex problem solving and the comradarie between
                                        students. I will graduate December 2019 with a B.S. in Computer Engineering and a Minor
                                        in Cyber Security.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/Aggie-logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2016 - April 2019</h4>
                                    <h4 class="subheading">Started work at the A&amp;M Division of Student Affairs IT Service Desk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I developed strong interpersonal and communcation skills with 
                                        hundreds of hours of customer contact by fielding calls and assisting customers 
                                        with systems and account troubleshooting, and system setups and deployment. I 
                                        also shortened the setup process of Macintosh computers from an hour
                                        to just under 10 minutes by writing an automation script.    
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/Oceus-logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2018</h4>
                                    <h4 class="subheading">Software Dev with Oceus Networks.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My first internship. I learned a lot about software developement
                                        and gained exposure to technologies like Python, Golang, Postman and more. I 
                                        shortened the staging of company telecom units by an hour by developing
                                        a suite of configuration management tools that enabled users to save and apply
                                        settings.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-circle img-responsive" src="img/timeline/Aggies-Invent.jpg" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>April 2019</h4>
                                        <h4 class="subheading">Won 3rd Place at Aggies Invent</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">My team of 4 raced from Friday night to Sunday afternoon
                                                to develop a marketable solution to help people with neurodegenerative diseases.
                                                We came up with a concept and prototype that helped steady the hands of people
                                                with tremors and worked with common household objects like spoons and hairbrushes.   
                                        </p>
                                    </div>
                                </div>
                            </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/timeline/KM-Bolt.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Software Dev with Kinder Morgan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Greatly eased gas transaction troubleshooting by developing
                                        an network graphing application to graph the transactions and their connections. Improved documentation
                                        procedures by introducing autodocumentation with Sandcastle. Eased on-call troubleshooting
                                        by implementing a search engine with Solr to search through past emails (containing fixes) 
                                        sent between the on-call team and customers.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h3>
                                    <br>What's
                                    <br>Next?</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
